1. What are data structures, and why are they important?

  Data structures are ways of organizing and storing the data so that it can be accessed and modified easily and effieciently.
  They are important because it accelerate the efficiency and performance of the program and it eases data manipulation
2. Explain the difference between mutable and immutable data types with   
  examples.

  Mutable data types- Mutable are those data types which can be changed after creation for example lists,dictionaries
  Immutable data types- Those datatypes which are not changeable after their creation such as tuples,strings

3. What are the main differences between lists and tuples in Python?

  Lists are mutable and are for dynamic data wherease tuples are immutable and are for fixed data

4. Describe how dictionaries store data.

  Dictionaries stores data in the form of key-value pairs.

5. Why might you use a set instead of a list in Python?

  We use set instead of a list because in sets no duplication is allowed so in sets every element is unique also sets are ideal for membership and set operations such are union and intersection

6. What is a string in Python, and how is it different from a list?

  A string is an immutable data type and a sequence of characters whereas lists are muttable and are the collection of any data types such as(int,float,string and a list itself too)

7. How do tuples ensure data integrity in Python?

  tuples are immutable in nature and there cannot be any change after its creation which makes them ideal for representing fixed data

8. What is a hash table, and how does it relate to dictionaries in Python?

  Hash table is a data structure in python which maps key to the value using hash function.
  Dictionaries are implemented using hash tables

9. Can lists contain different data types in Python?

  Yes

10. Explain why strings are immutable in Python.
  Immutability inproves data security, thread safety and allows hashing for being used in dictionaries as keys.

11. What advantages do dictionaries offer over lists for certain tasks?
  
  In list we access the elements using their indexes but in dictionaries we can access a element by using the key we have assigned to that element.

12. Describe a scenario where using a tuple would be preferable over a list.

  Records or passwords

13. How do sets handle duplicate values in Python?

  Set automatically discards the duplicate values from it

14. How does the “in” keyword work differently for lists and dictionaries?

  In a list, it checks for the presence of a value whereas in dictionary, it checks for the presence of a key.

15. Can you modify the elements of a tuple? Explain why or why not.

  No, as tuples are immutable. Once created, their elements cannot be changed.

16. What is a nested dictionary, and give an example of its use case?

  A dictionary inside another dictionary.

17. Describe the time complexity of accessing elements in a dictionary.

  (took help of gemini as this is not covered neither in lecture nor in notes/summary)

  Average case: O(1) (constant time)
  Worst case: O(n) due to hash collisions.

18. In what situations are lists preferred over dictionaries?

  When there is a simple sequence of data and there is no need for assigning keys for the values

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  Dictionaries considered unordered as the values in dictionaries are accessed through their keys not through the indexes.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

  list access the values through indexes whereas dictionaries access through keys

PRACTICAL QUESTIONS

1. Create a string with your name and print it.

In [ ]:
NAME="ABHAY"
print(NAME)

ABHAY

2. Find the length of the string 'Hello World'.

In [ ]:
a="hello world"
print(len(a))

11

3. Slice the first 3 characters from the string 'Python Programming'.

In [ ]:
b='python programming'
print(b[:3])

pyt

4. Convert the string "hello" to uppercase.

In [ ]:
s = "hello"
print(s.upper())

HELLO

5. Replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
n="I like apple"
print(n.replace("apple","orange"))

I like orange

6. Create a list with numbers 1 to 5 and print it.

In [ ]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Append the number 10 to the list [1, 2, 3, 4].

In [3]:
number=[1,2,3,4]
number.append(10)
print(number)

[1, 2, 3, 4, 10]

8. Remove the number 3 from the list [1, 2, 3, 4, 5].

In [5]:
l=[1,2,3,4,5]
l.remove(3)
l

[1, 2, 4, 5]

9. Access the second element in the list ['a', 'b', 'c'].

In [6]:
li=['a', 'b', 'c']
li[1]

'b'

10. Reverse the list [10, 20, 30, 40, 50].

In [7]:
lit=[10, 20, 30, 40, 50]
lit[::-1]

[50, 40, 30, 20, 10]

11. Create a tuple with the elements 100, 200, 300 and print it.

In [9]:
t=(100,200,300)
t

(100, 200, 300)

12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [11]:
tt=('red','green','blue','yellow')
tt[1:]

('green', 'blue', 'yellow')

13. Find the minimum number in the tuple (20, 0, 5, 15).

In [12]:
tup = (20, 0, 5, 15)
print(min(tup))

0

14. Find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
tu=('dog','cat','rabbit')
tu.index('cat')

1

15. Create a tuple containing three different fruits and check if "kiwi" is in it.

In [22]:
fruit=("apple",'banana' ,'kiwi')
print('kiwi' in fruit)

True

16. Create a set with the elements 'a', 'b', 'c' and print it.

In [24]:
s={'a','b','c'}
s

{'a', 'b', 'c'}

17. Clear all elements from the set {1, 2, 3, 4, 5}.

In [27]:
s = {1, 2, 3, 4, 5}
s.clear()
s

set()

18. Remove the element 4 from the set {1, 2, 3, 4}.

In [28]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

19. Find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [30]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [31]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

21. Create a dictionary with the keys 'name', 'age', and 'city', and print it.

In [32]:
person = {'name': 'Alice', 'age': 25, 'city': 'Paris'}
print(person)

{'name': 'Alice', 'age': 25, 'city': 'Paris'}

22. Add a new key–value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [33]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}.

In [36]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

25. Check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [37]:
person = {'name': 'Alice', 'city': 'Paris'}
print('city' in person)

True

26. Create a list, a tuple, and a dictionary, and print them all.

In [38]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 7, 'b': 8}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 7, 'b': 8}

27. Create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.

In [39]:
import random
rand_list = random.sample(range(1, 101), 5)
rand_list.sort()
print(rand_list)

[1, 24, 40, 78, 80]

28. Create a list with strings and print the element at the third index.

In [40]:
words = ['apple', 'banana', 'cherry', 'date', 'fig']
print(words[3])

date

29. Combine two dictionaries into one and print the result.

In [41]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Convert a list of strings into a set.

In [42]:
words = ['apple', 'banana', 'apple', 'cherry']
unique_words = set(words)
print(unique_words)

{'apple', 'banana', 'cherry'}